body{
    background-color: black;
    color: white;
}
.content{
    max-width: 320px;
    margin: auto;
    padding: 20px;
    background-color: rgb(40, 28, 28);
    border-radius: 50px;
}
.content .profile{
    text-align: center;
}
img{
    border-radius: 50%;

}
.content .social{
    text-align: center;
    margin: 20px;
    
    
}
 .social .lien{
    list-style: none;
    padding: 10px;


 }
 .social a{
    text-decoration: none;
    color: #fff;
    padding: 7px;
 }
 .vert{
    color: hsl(75, 94%, 57%);
    margin-top: -15px;
 }
 .lien{
    background-color: hsl(0, 0%, 20%);
    padding: 1px;
    border: 5px solid hsl(0, 0%, 12%);
    border-radius: 15px;
    max-width: 200px;
    margin: auto;
 }
 .lien:hover{
    background-color: hsl(121, 94%, 57%);
    color: hsl(121, 94%, 57%);
 }
 .attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative; 
     margin-top: 40px;
}
   .attribution a {
     color: hsl(228, 45%, 44%);
     }



